/* html, body {
    height: 100%;
    margin: 0;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #content {
    flex: 1;
  }
  
 */


 html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}




  #footer {
    background-color: #333;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-column {
    width: 30%;
  }
  
  h4 {
    color: #f1c40f;
    margin-bottom: 10px;
  }
  
  a {
    color: #1abc9c;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin: 5px 0;
  }